<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="OpenWeatherKey" value="0d2795f4c1fb3b9c8b85e3bff1bc6c46"/>
  <add key="IPDataKey" value="07828e29589b8d1376e50764483ad12aa371911cb2e6bf11692c0f7e"/>
  </appSettings>
</configuration>